<form xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-film-form(titre, action)" data-th-action="@{${action}}"
	method="post" data-th-object="${film}">
	<th:block data-th-if="${#strings.isEmpty(action)}">
		<h1 data-th-text="#{view-film-detail.h1}"></h1>
	</th:block>
	<th:block data-th-if="${!#strings.isEmpty(action)}">
		<h1 data-th-text="#{view-film-form.h1}"></h1>
	</th:block>
	<th:block data-th-if="${!#strings.isEmpty(action)}">
		<div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>
	</th:block>

	<ul class="flex-outer">
		<li>
			<label for="inputGenre" data-th-text="#{frag-film-form.genre}"></label>
			<!--  pour disabled soit un paramètre au niveau du fragment -- moins de paramètre au fragment c'est mieux  -->
			<!--  pour disabled tester la valeur d'action  -->
			<th:block data-th-if="${#strings.isEmpty(action)}">
				<input type="text" id="inputGenre" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{genre.titre}" />
			</th:block>
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<select id="inputGenre" data-th-field="*{genre}" required>
					<option data-th-each="genre: ${genresEnSession}" data-th-text="${genre.titre}" data-th-value="${genre.id}"></option>
				</select>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('genre')}"></div>
			</th:block>
		</li>
		<li>
			<label for="inputYear" data-th-text="#{frag-film-form.annee}"></label>
			<input type="number" id="inputYear" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{annee}" required min="1900" />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('annee')}"></div>
			</th:block>
		</li>
		<li>
			<label for="inputTitle" data-th-text="#{frag-film-form.titre}"></label>
			<input type="text" id="inputTitle" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{titre}" required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('titre')}"></div>
			</th:block>
		</li>
		<li>
			<label for="inputDirector" data-th-text="#{frag-film-form.realisateur}"></label>
			<th:block data-th-if="${#strings.isEmpty(action)}">
				<input type="text" id="inputDirector" data-th-disabled="${#strings.isEmpty(action)}"
					data-th-value="${film.realisateur.prenom} + ' ' + ${film.realisateur.nom}" />
			</th:block>
			<th:block data-th-if="${!#strings.isEmpty(action)}" required>
				<select id="inputDirector" data-th-field="*{realisateur}">
					<option data-th-each="part: ${participantsEnSession}" data-th-text="${part.prenom} + ' ' + ${part.nom}"
						data-th-value="${part.id}"></option>
				</select>
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('realisateur')}"></div>
			</th:block>
		</li>
		<li>
			<label for="inputDuration" data-th-text="#{frag-film-form.duree}"></label>
			<input type="number" id="inputDuration" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{duree}" required min="1"/>
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('duree')}"></div>
			</th:block>
		</li>
		<li data-th-if="${not #lists.isEmpty(film.acteurs)}">
			<label for="selectActors" data-th-text="#{frag-film-form.acteurs}"></label>
			<th:block data-th-if="${#strings.isEmpty(action)}">
				<select id="selectActors" data-th-disabled="${#strings.isEmpty(action)}" multiple="multiple">
					<option data-th-each="item : ${film.acteurs}" data-th-text="'- ' + ${item.prenom} + ' ' + ${item.nom}"></option>
				</select>
			</th:block>
		</li>
		<li data-th-if="${!#strings.isEmpty(action)}">
			<label for="selectActors" data-th-text="#{frag-film-form.acteurs}"></label>
			<select id="selectActors" data-th-field="*{acteurs}" multiple="multiple">
				<option data-th-each="part: ${participantsEnSession}" data-th-text="${part.prenom} + ' ' + ${part.nom}"
					data-th-value="${part.id}"></option>
			</select>
		</li>
		<li>
			<label for="taSynopsis" data-th-text="#{frag-film-form.synopsis}"></label>
			<textarea id="taSynopsis" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{synopsis}" rows="3"></textarea>
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('synopsis')}"></div>
			</th:block>
		</li>
		<li data-th-if="${!#strings.isEmpty(action)}">
			<button type="submit" data-th-text="#{frag-film-form.enregistrer}"></button>
		</li>
		
		<th:block data-th-if="${#strings.isEmpty(action) && not #lists.isEmpty(film.avis)}">
			<li data-th-replace="~{fragments/fragment-avis :: frag-avis}"></li>
		</th:block>

	</ul>
</form>
